body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 1;
    padding: 1;
}

.titulo {
    background-color: rgb(90, 19, 156);
    color: white;
    padding: 20px;
    text-align: center;
}

.voltar {
    text-align: center;
    margin: 20px 0;
}

.botao {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.botao:hover {
    background-color: #0056b3;
}

.areas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.saber {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.saber h2 {
    color: #333;
    margin-top: 0;
}

.saber img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.iot {
    margin-top: 10px;
}

.iot h3 {
    color: #555;
}
